# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local
.env.production
.env.development

# macOS
.DS_Store
__MACOSX/

# Vercel
.vercel/

# Firebase local cache
.firebase/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
